<section class="default-gallery-header">
  <div class="container-fluid">
    <div class="col-sm-12 default-head-content">
      <div class="default-services-show">
        <h1 class="text-center">Great Heading!</h1>
        <h3 class="text-center">Great Under Heading</h3>
        <hr>
      </div>
    </div>
  </div>
</section>

<section class="home-about-wrap">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-12 about-col placeholder-photo">
        <div class="cd_tutor_info">
          <h3>What A Team</h3>
        </div>
      </div>
    
      <div class="col-sm-6 about-copys text-center">
        <div class="about-template">
          <div class="well">
            
              <p>I started creating this site to see what I learned from the previous
              intructor taught course. I had hiccups, but persevered through the 
              random problems I faced. Some problems took hours, while some took 
              minutes. I learned how to do many things I simply breezed through 
              before. This was a great way for me to keep learning and test my ability.</p>
              <a class="btn btn-primary btn-sm" href="/services" role="button">Link to Services!</a>
            
           </div>
        </div>
      </div>
      
      <div class="col-sm-6 about-copys text-center">
        <div class="about-template">
          <div class="well">
            
              <p>One of the hardest parts was the gallery. I could have done something
              like Lightbox for a gallery, but was determined to make something 
              like this from scratch. It took me hours until I was satisfied
              with the way it works, but I learned a ton from this experience.  </p>
              <a class="btn btn-primary btn-sm" href="/gallery" role="button">Link to the Gallery!</a>
           </div>
        </div>
      </div>
      

      
    </div>
  </div>
</section>