<section class="default-gallery-header">
  <div class="container-fluid">
    <div class="col-sm-12 default-head-content">
      <div class="default-services-show">
        <h1 class="text-center">Sample Header</h1>
        <h3 class="text-center">Sample Header</h3>
        <hr>
      </div>
    </div>
  </div>
</section>

<section class="home-about-wrap">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-12 about-col placeholder-photo">
        <div class="cd_tutor_info">
          <h3>Sample Header</h3>
        </div>
      </div>
    
      <div class="col-sm-6 about-copys text-center">
        <div class="about-template">
          <div class="well">
            
              <p>Sample Text * Lorem ipsum dolor sit amet, consectetur 
              adipisicing elit. Ipsa, unde eius asperiores qui quia itaque 
              obcaecati accusamus pariatur a blanditiis. Repudiandae, sed, 
              voluptatem et iusto eos laborum id perferendis nulla.</p>
              <a class="btn btn-primary btn-sm" href="/services" role="button">Link To Another Page!</a>
            
           </div>
        </div>
      </div>
      
      <div class="col-sm-6 about-copys text-center">
        <div class="about-template">
          <div class="well">
            
              <p>Sample Text * Lorem ipsum dolor sit amet, consectetur 
              adipisicing elit. Ipsa, unde eius asperiores qui quia itaque 
              obcaecati accusamus pariatur a blanditiis. Repudiandae, sed, 
              voluptatem et iusto eos laborum id perferendis nulla.</p>
              <a class="btn btn-primary btn-sm" href="/gallery" role="button">Link To Another Page!</a>
           </div>
        </div>
      </div>
      

      
    </div>
  </div>
</section>