<section class="default-gallery-header">
  <div class="container-fluid">
    <div class="col-sm-12 default-head-content">
      <div class="default-services-show">
        <h1 class="text-center">Sample Header</h1>
        <hr>
      </div>
    </div>
  </div>
</section>

<div id="1">
  
  <ul>
    <li><a href="#a"> Sample Set 1! </a></li>
    <li><a href="#b"> Sample Set 2! </a></li>
    <li><a href="#c"> Sample Set 3! </a></li>
    <li><a href="#d"> Sample Set 4! </a></li>
  </ul>
    
  <div id="a">
    
    <ul>
      <li><a href="#aa1"> Family At Beach </a></li>
      <li><a href="#aa2"> Family At Park </a></li>
    </ul>
  
    <div id="aa1">
      <img src="https://ak2.picdn.net/shutterstock/videos/1333846/thumb/1.jpg" width="600" height="400">
      <img src="https://previews.123rf.com/images/goodluz/goodluz1304/goodluz130400715/19251352-Family-of-four-having-fun-at-the-beach-Stock-Photo-vacation.jpg" width="600" height="400">
    </div>
    
    <div id="aa2">
      <img src="http://flyiteasy.com/wp-content/uploads/2014/05/Theme-Park.jpg" width="600" height="400">
      <img src="http://agrilifecdn.tamu.edu/victoriacountyblt/files/2010/08/family-playing.jpg" width="600" height="400">
      <img src="https://www.colourbox.com/preview/2340825-happy-family-having-fun-in-the-park-outdoors.jpg" width="600" height="400">
    </div>

   </div>


  <div id="b">
    
    <ul>
      <li><a href="#bb1">Dentistry</a></li>
      <li><a href="#bb2">Doctors Office</a></li>
    </ul>
    
    <div id="bb1">
      <img src="http://www.texasdentalspecialists.com/wp-content/uploads/2011/07/general-dentistry.jpg" width="600" height="400">
      <img src="http://perfectdentalclinic.com/wp-content/uploads/2015/08/general-02.jpg" width="600" height="400">
    </div>
    <div id="bb2">
      <img src="http://l450v.alamy.com/450v/h442mr/dentist-practise-doctors-office-dentists-chair-x-ray-picture-look-h442mr.jpg" width="600" height="400">
      <img src="http://c8.alamy.com/comp/H448TY/doctors-office-reception-gynecologist-female-patient-practice-fee-H448TY.jpg" width="600" height="400">
    </div>
    
   </div>
     
     
  <div id="c">
    
    <ul>
      <li><a href="#cc1">Colleges</a></li>
      <li><a href="#cc2">High School</a></li>
      <li><a href="#cc3">Elementary School</a></li>
    </ul>
    
    <div id="cc1">
      <img src="https://www.clarkson.edu/_site_support/background_image_banks/images/tour_images/studcnt_4128800003.jpg" width="600" height="400">
      <img src="https://www.usnews.com/static/img/temp-images/regional-universities-north.jpg" width="600" height="400">
    </div>
    <div id="cc2">
      <img src="https://cdn3.teach.com/content/41ae60bfc2a94ef98eb7f539e7e0c382/high-school.jpg" width="600" height="400">
      <img src="https://www.westport.k12.ct.us/uploaded/photos/www/shs-landing.jpg" width="600" height="400">
    </div>
    <div id="cc3">
      <img src="http://kendall.ipsd.org/_img/School.jpg" width="600" height="400">
      <img src="http://www.fcboe.org/cms/lib010/GA01900971/Centricity/Domain/18/school_front.jpg" width="600" height="400">
    </div>
    
   </div>
     
  <div id="d">
       
    <ul>
      <li><a href="#dd1">Friends</a></li>
    </ul>
    
    <div id="dd1">
      <img src="http://www.rd.com/wp-content/uploads/sites/2/2016/02/02-friends-make-you-more-attractive.jpg" width="600" height="400">
      <img src="http://pixel.nymag.com/imgs/daily/vulture/2016/03/23/23-friends-cover-story-lede.w1200.h630.jpg" width="600" height="400">
    </div>
    
  </div>
     
</div>