<div class="home-container container-fluid">
  <div class="jumbotron">
    <h2>Sample Header</h2>
    <h4>Sample Paragraph</h4>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Check Us Out!</a></p>
  </div>
</div>

<section class="home-info-headline">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="well">
          <h1 align="center">Sample</h1>
          <hr>
            <p> Sample Text * Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Ipsa, unde eius asperiores qui quia itaque 
                obcaecati accusamus pariatur a blanditiis. Repudiandae, sed, 
                voluptatem et iusto eos laborum id perferendis nulla.</p>
            <hr>
            <p> Sample Text * Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Ipsa, unde eius asperiores qui quia itaque 
                obcaecati accusamus pariatur a blanditiis. Repudiandae, sed, 
                voluptatem et iusto eos laborum id perferendis nulla.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-about-wrap">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-12 about-col placeholder-photo">
        <div class="cd_tutor_info">
          <h3>Sample Name</h3>
        </div>
      </div>
    
      <div class="col-sm-6 about-copys text-center">
        <div class="about-template">
          <div class="well">
              <p>Sample Text * Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Ipsa, unde eius asperiores qui quia itaque 
                obcaecati accusamus pariatur a blanditiis. Repudiandae, sed, 
                voluptatem et iusto eos laborum id perferendis nulla.</p>
              <a class="btn btn-primary btn-sm" href="/services" role="button">Sample</a>
           </div>
        </div>
      </div>
      
      <div class="col-sm-6 about-copys text-center">
        <div class="about-template">
          <div class="well">
              <p>Sample Text * Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Ipsa, unde eius asperiores qui quia itaque 
                obcaecati accusamus pariatur a blanditiis. Repudiandae, sed, 
                voluptatem et iusto eos laborum id perferendis nulla.</p>
              <a class="btn btn-primary btn-sm" href="/gallery" role="button">Sample text!</a>
           </div>
        </div>
      </div>

    </div>
  </div>
</section>