<div class="home-container container-fluid">
  <div class="jumbotron">
    <h2>Great Header!</h2>
    <h4>Such a catchy line</h4>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Check Us Out!</a></p>
  </div>
</div>

<section class="home-info-headline">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="well">
          <h1 align="center">What A Header</h1>
          <hr>
            <p> I wanted to make this site in order to test what I needed to 
              improve on, and I learned that there are quite a few things. I 
              struggled at times, spent way too long trying to fix something
              that wasn't broken, but in the end building this site gave me a 
              much better understanding of how to build a site from essentially
              nothing.</p>
            <hr>
            <p> I want to continue learning as much as possible, but thoroughly 
              enjoyed seeing the completion of the website. I assume I felt similar
              to how the group above me looks. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-about-wrap">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-12 about-col placeholder-photo">
        <div class="cd_tutor_info">
          <h3>Great Intro</h3>
        </div>
      </div>
    
      <div class="col-sm-6 about-copys text-center">
        <div class="about-template">
          <div class="well">
              <p>I wanted to make this sample site in order to test what I needed to 
              improve on, and I learned that there are quite a few things. I 
              struggled at times, spent way too long trying to fix something
              that wasn't broken, but in the end building this site gave me a 
              much better understanding of how to build a site from essentially
              nothing. </p>
              <a class="btn btn-primary btn-sm" href="/services" role="button">Button1</a>
           </div>
        </div>
      </div>
      
      <div class="col-sm-6 about-copys text-center">
        <div class="about-template">
          <div class="well">
              <p>I want to continue learning as much as possible, but thoroughly 
              enjoyed seeing the completion of the website. I assume I felt similar
              to how the group above me looks. </p>
              <a class="btn btn-primary btn-sm" href="/contacts/new" role="button">Contact Me</a>
           </div>
        </div>
      </div>

    </div>
  </div>
</section>