<section class="default-services-header">
  <div class="container-fluid">
    <div class="col-sm-12 default-head-content">
      
      <div class="default-services-show">
        <h1 class="text-center">Services Header</h1>
        <hr>
      </div>
      
      <div class="services-text-section">
        <div class="container">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="services-text-content">
              <h4 class="text-center">Great Services</h4>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>




<section class="main-services">
  
  <div class="container-fluid">
    <div class="row services-first-row">
      
      <div class="col-sm-6 services-content first-row-height">
          <h3 class="text-center">Service 1</h3>
          <ul class="text-center">
            <li>Braces</li>
            <br>
            <li>Braces 2</li>
            <br>
            <li>Braces 3</li>
            <br>
          </ul>
      </div>
      
      <div class="col-sm-6 services-first-row-img"></div>
      
    </div>
  </div>
  
  
  <div class="container-fluid">
    <div class="row services-second-row">
      
      <div class="col-sm-6 services-second-row-img"></div>
      
      <div class="col-sm-6 services-content first-row-height">
        <h3 class="text-center">Service 2</h3>
        <ul class="text-center">
          <li>So refreshed</li>
          <br>
          <li>Towels are so exciting</li>
          <br>
        </ul>
      </div>
      
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row services-first-row">
      
      <div class="col-sm-6 services-content first-row-height">
        <h3 class="text-center">Service 3</h3>
        <ul class="text-center">
          <li>Everyone be happy!</li>
          <br>
          <li>Smile or you're in trouble!</li>
          <br>
        </ul>
      </div>
      
      <div class="col-sm-6 services-third-row-img"></div>
      
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row services-second-row">
    
      <div class="col-sm-6 services-fourth-row-img"></div>
      
      <div class="col-sm-6 services-content first-row-height">
        <h3 class="text-center">Service 4</h3>
        <ul class="text-center">
          <li>Danger</li>
          <br>
          <li>Danger</li>
          <br>
        </ul>
      </div>
    
    </div>
  </div>
  
</section>